@if (isValid()) {
    <main
    animate.enter="--animate-fade-swipe-up-enter"
    animate.leave="--animate-fade-swipe-up-leave"
    (click)="onClick()" class="--hover-card">
        <div id="thumbnail-container">
            @if (image) {
                <p>has image</p>
            }
            @else {
                <img id="thumbnail" src="/icons/package.svg">
            }
        </div>
        <div id="contents">
            <p id="name">{{data.name}}</p>
            <!-- <p id="price">₱{{data.price.toLocaleString()}}</p> -->
            <!-- <p id="sale-price">{{salePrice}}</p> -->
        </div>
    </main>
}