<nav>
    <div class="--button" (click)="router.navigate([''])" style="display: flex; gap: 8px; align-items: center;">
        <img class="--logo" src="/icons/package.svg">
        <p class="--bold">Chime</p>
    </div>
    <div id="links">
        <button class="--button nav-button">Discounts</button>
        <button class="--button nav-button">Customer Service</button>
    </div>
    <div style="display: flex;">

        <div id="searchbox-container">
            <input class="--input" type="text" placeholder="Search" id="search-box" style="border-radius: 0px;">
            <button class="--flat-button" id="searchbox-button" style="border-top-left-radius: 0; border-bottom-left-radius: 0;">Search</button>
        </div>
        
        <button class="--button nav-button" (click)="router.navigate(['cart'])">
            <img class="nav-icon" src="/icons/cart.svg">
        </button>
        @if (cookie.check('auth')) {
            <button (click)="router.navigate(['manage-account'])" class="--button nav-button">
                <img class="nav-icon" src="/icons/profile.svg">
                <p (click)="router.navigate(['manage-account'])" class="link">{{name()}}</p>
            </button>
        }
        @else {
            <button (click)="router.navigate(['login'])" class="--button nav-button">
                <img class="nav-icon" src="/icons/profile.svg">
                <p class="link" (click)="router.navigate(['login'])">Login</p>
            </button>
        }

    </div>
</nav>