<nav>
    <div style="display: flex; gap: 8px; align-items: center;">
        <img class="--logo" src="/icons/package.svg">
        <p class="--bold">Chime</p>
    </div>
    <div id="links">
        <p class="link">Discounts</p>
        <p class="link">Customer Service</p>
    </div>
    @if (cookie.check('auth')) {
        <p (click)="router.navigate(['manage-account'])" class="link">My Account</p>
    }
    @else {
        <p class="link" (click)="router.navigate(['login'])">Login</p>
    }
</nav>