<main>
    <div style="display: flex; flex-direction: column; flex: 0.75; height: 100%;">
        <div id="preview-image">
            <img [src]="previewImage$()?.image" style="width: 100%; height: 100%; object-fit: contain;">
        </div>
        <div id="gallery">
            @for (image of images$(); track image.id) {
                <button (click)="previewImage$.set(image)" class="--button image-button">
                    <img [src]="image.image" style="height: 100%; width: 100%; object-fit: cover;">
                </button>
            }
        </div>
    </div>

    <div style="flex: 1; display: flex; flex-direction: column; justify-content: space-between; padding: 32px; gap: 16px;">
        <div id="content">
            @let prodName = "Your product name will show up here. Please enter a short descriptive title for your product that can hook up customers";
            <p id="title">{{product$().name.length > 0 ? product$().name : preview? prodName : ""}}</p>
    
            <div style="display: flex; gap: 4px;">
                @for (star of [1, 2, 3, 4, 5]; track $index) {
                    <img src="/icons/star.svg" class="star">
                }
                <p style="margin-left: 16px;">{{getTotalRatingCount()}} ratings</p>
            </div>
    
            <!-- price -->
            <div>
                <p id="price">{{getPriceString()}}</p>
            </div>
    
            <div>
                <p style="color: rgba(0, 0, 0, 0.4); margin: 8px 0; font-style: italic;">{{variants$().length}} {{variants$().length > 1 ? "variants" : "variant"}} available</p>
                <div style="display: flex; gap: 8px; flex-wrap: wrap;">
                    @for (variant of variants$(); track variant.id) {
                        <div class="variant">
                            <div style="width: 32px; height: 100%;">
                                <img [src]="getVariantImage(variant)?.image" style="height: 100%; width: 100%; object-fit: cover;">
                            </div>
                            <div style="min-width: 32px; max-width: 96px;">
                                <p style="padding: 4px 8px; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">{{variant.name.length > 0? variant.name : "Unnamed Variant"}}</p>
                            </div>
                        </div>
                    }
                </div>
            </div>
    
            
        </div>
        <div>
            <button (click)="addToCart()" style="width: 40%;" class="--accent-button">Add to Cart</button>
        </div>
        @let prodDesc = "You description will appear here. Pleave provide the full details and specifications for your product. Avoid ambigous words that might be misunderstood by customers";
        <textarea id="description" disabled>{{product$().description.length > 0? product$().description : preview? prodDesc : ""}}</textarea>
    </div>
</main>