@import "variables.less";

@table-header-grid-size: 1fr 0.16fr 0.25fr 0.16fr;
@image-height: 64px;

main {
    width: 100%;
    min-width: 720px;
    max-width: 1000px;
    padding: 16px;
    
    display: flex;
    gap: 16px;
    margin: 0 auto;
}

aside {
    width: 20%; display: flex; flex-direction: column; gap: 16px;
    position: sticky;
    top: 0;
}

#browser {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: 1;
}

#cart-table {
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 8px;
    overflow: hidden;
    
    thead {
        border-radius: 8px;
            th {
                padding: 16px;
                background-color: @color-bg-secondary;
                min-width: 16px;
            }
            th:first-child {
                border-top-left-radius: 8px;
            }
            th:last-child {
                border-top-right-radius: 8px;
            }
    }

    tbody {
        background-color: @color-bg-primary;

        td {
            padding: 16px;
            height: 16px;
        }
    }
    
}

#delete-button {
    padding: 0; background-color: transparent; text-align: left; width: fit-content;
    color: @color-font-error;

    &:hover {
    }
}

.update-quantity-button {
    width: 32px;
    height: 32px;
    border-radius: 999px;
}

#--base-cart-table {
    display: grid;
    grid-template-columns: @table-header-grid-size;
}

#cart-table-header {
    #--base-cart-table();
}

.cart-item-container {
    #--base-cart-table();
    
    padding: 16px;
    border-radius: 8px;
    border: @border;
}

.cart-item-image {
    object-fit: contain;
    max-height: 100%;
}

.cart-item-cell {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item-image {
    height: @image-height;
}

.item-info-cell {
    display: grid;
    grid-template-columns: 128px 1fr;
}

.quantity-cell {
    button {
        padding-left: 16px;
        padding-right: 16px;
    }
}

.price {
    color: @color-font-accent;
    font-weight: 700;
}