@if (purchaseBoxOpen()) {
    <div id="purchase-box" (click)="closePurchaseBox()">
        <div style="padding: 32px;" class="--card">
            <h1 style="margin-bottom: 16px; font-size: 2rem;">Purchase Successful</h1>
            <p>You purchased this product</p>
        </div>
    </div>
}

<app-navbar-layout>
    <main>
        
        <div id="main-container" style="flex: 1;">
            <div id="image-container">
                <img [src]="currentShownImage()" id="preview-image">
                <div id="variant-container">
                    @for (img of variantImages(); track $index) {
                        <img [src]="img" class="--button variant-image" (click)="showImage(img)">
                    }
                </div>
            </div>

            <div id="content-container" style="flex: 0.75; height: 100%; justify-content: space-between;">
                <div style="display: flex; flex-direction: column; height: 100%; gap: 8px;">
                    <div style="display: flex; gap: 8px;">
                        <!-- <p>Rating</p><p>{{data().rating}} stars</p> -->
                    </div>
                    <p style="font-size: 2rem;">{{data().name}}</p>
                    <h1 style="margin: 32px 0px; font-size: 2.5rem;" id="full-price">₱{{getCalculatedPrice()}}</h1>
    
                    @if (variants().length === 0) {
                        <div>This product has no variants</div>
                    }
                    @else {
                        <p>Variants</p>
                    }
                    <div>
                        @for (variant of variants(); track $index) {
                            <button class="--flat-button" style="margin-right: 8px; padding-left: 16px; padding-right: 16px; display: inline;">
                                <p>{{variant.name}}</p>
                            </button>
                        }
                    </div>
                </div>
                <div style="display: flex; gap: 8px; margin-bottom: 16px;">
                    <button (click)="addToCartShown.set(true)" style="width: 100%;" class="--flat-button">Add to Cart</button>
                    <button style="width: 100%;" class="--accent-button" (click)="purchaseBoxOpen.set(true)">Buy</button>
                </div>
                
            </div>

            <div style="flex: 0.75; height: 100%; display: flex; flex-direction: column;">
                <h1 style="font-size: 2rem; margin-bottom: 8px;">Description</h1>
                <textarea disabled id="description">{{data().description}}</textarea>
            </div>
        </div>
        
        
        

    </main>
</app-navbar-layout>

@if (addToCartShown()) {
    <div (click)="addToCartShown.set(false)" id="add-to-cart-popup-container">
        <div id="add-to-cart-popup" (click)="$event.stopPropagation()">
            <p style="font-size: 1.5rem; padding-bottom: 16px; font-weight: 700;">Add to Cart</p>
            <div style="display: grid; grid-template-columns: 0.8fr auto; gap: 8px 32px; align-items: center; margin-bottom: 32px;">
                <p>Quantity</p>
                <div style="display: flex; gap: 8px; align-items: center">
                    <button class="--flat-button add-quantity-button" (click)="decreaseQuantity()">-</button>
                    <p style="flex: 1; text-align: center;">{{selectedQuantity()}}</p>
                    <button class="--flat-button add-quantity-button" (click)="increaseQuantity()">+</button>
                </div>
                <p style="column-span: all;">Variant</p>
                <div style="grid-row-start: 3; grid-column-start: 1; grid-column-end: 3;">
                    @for (variant of variants(); track $index) {
                        @if (selectedVariant()?.id == variant.id) {
                            <button class="--flat-button variant" id="selected-variant">{{variant.name}}</button>
                        }
                        @else {
                            <button class="--flat-button variant" (click)="selectedVariant.set(variant)">{{variant.name}}</button>
                        }
                    }
                </div>
            </div>
            <p class="--error" style="margin-bottom: 16px;">{{cartErrorMessage().toString()}}</p>
            <div style="display: flex; gap: 8px;">
                <button class="--error-button" (click)="addToCartShown.set(false)">Cancel</button>
                <button style="flex: 1" class="--accent-button" (click)="addToCart()">Add</button>
            </div>
        </div>
    </div>
}