@import "variables.less";

main {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 16px;

    overflow: hidden;
}

#main-container {
    width: 100%;
    height: 100%;
    padding-top: 64px;
    display: flex;
    gap: 24px;
}

#image-container {
    display: flex;
    flex-direction: column;
    flex: 0.75;
    width: 20%;
    gap: 8px;

    #preview-image {
        height: 75%;
        object-fit: contain;
    }

    #variant-container {
        display: flex;
        height: 20%;
        overflow-x: scroll;
        width: 100%;
    }
}

.variant-image {
    height: 100%;
}


#content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
}


#description {
    field-sizing: content;
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    padding: 32px;
    // pointer-events: none;
    user-select: auto;

    border: @border;
    border-radius: 8px;
}

#purchase-box {
    z-index: 6; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    display: flex; 
    
    justify-content: center; 
    align-items: center; 
    background-color: rgba(0, 0, 0, 0.4);
    transition: @transition;

}

#add-to-cart-popup-container {
    width: 100vw; 
    height: 100vh; 
    position: fixed; 
    top: 0; 
    left: 0; 
    background-color: rgba(0, 0, 0, 0.5); 
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 6;
}

#add-to-cart-popup {
    padding: 16px;
    background-color: @color-bg-primary;
    border-radius: 8px;
    width: 256px;
}

.add-quantity-button {
    padding-left: 24px;
    padding-right: 24px;
}

#selected-variant {
    background-color: @color-accent-primary
}

.variant {
    display: inline-block;
    margin: 4px;
}