@font-size: 14px;
@font-weight: 700;
@border: 1px solid rgba(0, 0, 0, 0.25);
@color-error: #E53935;
@color-primary: #FFB74D;
@color-font-accent: #E65100;
@color-bg-primary: #FFFFFF;
@color-bg-secondary: #E0E0E0;
@background-color-primary: #FFB74D;
@background-color-hover: brightness(0.9);
@background-color-active: brightness(0.75);
@transition: all 100ms ease-out;

@min-height-account-manager-panel: 512px;