<!-- <app-error-box [visible]="_hasError()">Some fields are invalid</app-error-box> -->
<app-navbar-layout>
    <main>
        
        <div style="display: flex; flex-direction: column; gap: 16px; width: 100%; padding: 0px 64px;">

            <p>Upload a Product</p>
            <form [formGroup]="productForm" style="display: flex; gap: 16px;">

                <!-- product information -->
                <div class="--card container" style="flex: 1;">
                    <p style="margin-bottom: 16px;">General Information</p>

                    <div>
                        <div style="margin-bottom: 8px; display: flex; gap: 16px;">
                            <p >Product Name</p>
                            @if (productForm.get("name")!.dirty && productForm.get("name")!.invalid) {
                                <p class="--error">Provide a valid name</p>
                            }
                        </div>
                        <input class="--input" style="width: 100%;" placeholder="A descriptive name for your product" formControlName="name">
                    </div>
                    <div>
                        <div style="margin-bottom: 8px; display: flex; gap: 16px;">
                            <p >Description</p>
                            @if (productForm.get("description")!.dirty && productForm.get("description")!.invalid) {
                                <p class="--error">Provide a valid description</p>
                            }
                        </div>
                        <textarea class="--input" placeholder="Your description must describe your product well." formControlName="description"></textarea>
                    </div>
                    <div style="display: flex; gap: 8px;">
                        <div style="flex: 1;">
                            <div style="margin-bottom: 8px; display: flex; gap: 16px;">
                                <p >Full Price</p>
                                @if (productForm.get("price")!.dirty && productForm.get("price")!.invalid) {
                                    <p class="--error">Provide a valid price</p>
                                }
                            </div>
                            <input style="width: 100%;" class="--input" type="number" placeholder="" formControlName="price">
                        </div>
                        <div  style="flex: 1;">
                            <div style="margin-bottom: 8px; display: flex; gap: 16px;">
                                <p >Stocks</p>
                                @if (productForm.get("stock")!.dirty && productForm.get("stock")!.invalid) {
                                    <p class="--error">Provide a valid stock count</p>
                                }
                            </div>
                            <input style="width: 100%;" class="--input" type="number" placeholder="" formControlName="stock">
                        </div>
                    </div>
                    <div>
                        <p style="margin-bottom: 8px;">Category</p>
                        <select class="--flat-button" style="width: 50%;" formControlName="category">
                            <option selected>Select category</option>
                            @for (category of categories(); track $index) {
                                <option>{{category.name}}</option>
                            }
                        </select>
                    </div>
                    <div>
                        <div style="margin-bottom: 8px; display: flex; gap: 16px;">
                            <p >Variants</p>
                            @if (isVariantsInvalid()) {
                                <p class="--error">Some fields are invalid</p>
                            }
                        </div>
                        <div formArrayName="variants" id="variant-container">
                            @if (variants.length === 0) {
                                <p style="text-align: center; margin: 16px;">You have no variants for this product</p>
                            }

                            @for (variant of variants.controls; track trackIndex(variant); let i = $index) {
                                <div style="display: flex; gap: 8px; margin: 8px 0px;">
                                    <div class="variant" style="flex: 1;">
                                        <p class="variant-label" style="padding: 8px;"> Variant {{$index + 1}}</p>
                                        <input class="--input" style="padding: 8px; flex: 1; border: none;" placeholder="Enter variant name" [(ngModel)]="variant.value().name" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <button class="--button" (click)="deleteVariant(i)">Delete</button>
                                </div>
                            }
                            
                            <div style="display: flex; gap: 8px;">
                                <button class="--accent-button" (click)="addVariant()">Add Variant</button>
                                @if (variants.length > 0) {
                                    <button class="--button" (click)="deleteAllVariant()">Delete All</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- images -->
                <div class="--card container" style="flex: 1; display: flex;">
                    <div style="margin-bottom: 8px; display: flex; gap: 16px;">
                            <p >Images</p>
                            <!-- @if (isImagesInvalid()) {
                                <p class="--error">Some images have invalid variants</p>
                            } -->
                        </div>
                    <div style="display: flex; gap: 16px;">

                        <!-- preview -->
                        <img [src]="previewImage() ?? `/icons/package.svg`" id="preview-image">

                        <!-- list -->
                        <div style="display: flex; flex-direction: column; flex: 1;">
                            <div id="image-container" style="flex: 1;">
                                @if (images.length === 0) {
                                    <p style="text-align: center; margin: 16px;">You product has no images</p>
                                }
                                @for (image of images.controls; track trackIndex(image); let i = $index) {
                                    <div class="product-image">
                                        <img [src]="image.value.image" style="width: 64px; object-fit: cover;" (click)="previewImage.set(image.value.image)">
                                        <div style="flex: 1;">
                                            <select [(ngModel)]="image.value.forVariant" style="width: 100%;" [ngModelOptions]="{standalone: true}">
                                                <option selected>No Variant</option>
                                                @for (variant of variants.controls; track trackIndex(variant)) {
                                                    <option>{{variant.value().name}}</option>
                                                }
                                            </select>
                                        </div>
                                        <button class="--error-button" (click)="images.removeAt(i)">Remove</button>
                                    </div>
                                }
                            </div>
                            <div style="display: flex; gap: 16px;">
                                <label class="--accent-button" style="flex: 1;">
                                    Add Image
                                    <input multiple type="file" accept=".png, .jpg, .jpeg" (change)="onImageSelected($event)" hidden>
                                </label>
                                <button class="--button" [disabled]="images.controls.length === 0" (click)="images.clear()">Delete All</button>
                            </div>
                        </div>
                    </div>
                </div>
                

                
                    
            </form>
        </div>
        
        <button class="--accent-button" style="margin: 16px;" (click)="upload()">Upload</button>

    </main>
</app-navbar-layout>