@import "variables.less";

.container {
    padding: 32px;
    border: @border;
    min-width: 16px;
    min-height: 16px;
}

#sidebar {
    display: flex;
    flex-direction: column;

    padding: 16px;
    min-width: 200px;
}

#contents {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 8px;
}