@import "variables.less";

main {
    display: flex;
    width: fit-content;
    padding: 0px 16px;
    width: 100%;
}

aside {
    width: 300px;

    .sidebar-content-container {
        display: flex;
        flex-direction: column;
        gap: 4px;
        padding: 16px;

        p {
            margin-bottom: 8px;
        }

        button {
            text-align: left;
        }
    }

    
    
}

#content-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 8px;
}

