@import "variables.less";

main {
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: start;
}

#panel {
    // min-width: 400px;
    width: 512px;
    min-height: @min-height-account-manager-panel;
    position: relative;
}