<app-navbar-layout>
    <main>
        
        <aside class="--card container" style="display: flex; padding: 16px; flex-direction: column; gap: 8px; min-height: 128px;">
            <h1>Manage Account</h1>
            <div>
                @for (panel of panels; track $index) {
                    <p (click)="goToPanel(panel)" [style]="activePanel() === panel? 'color: #E65100;' : 'color: black;'" class="--hover">{{panel}}</p>
                }
            </div>
        </aside>

        <div class="--card container" id="panel">
            @if (activePanel() === "Account Details") {
                <app-account-details />
            }
            @else if (activePanel() === "My Products") {
                <app-my-products-panel/>
            }
            @else {
                <p>No data to show</p>
            }
        </div>
        
    </main>
</app-navbar-layout>