@import "variables.less";

main {
    width: 100%;
    min-height: 100vh;
    
    display: flex;
    gap: 8px;
}

#panel {
    // min-width: 400px;
    width: 512px;
    min-height: @min-height-account-manager-panel;
    position: relative;
}

aside {
    padding: 0px 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    div {
        display: flex;
        flex-direction: column;
    }
}

.nav-button {
    text-align: left;
}